.selector {
	position: relative;
	display: flex;
	justify-content: flex-start;
	user-select: none;

	&.opened {
		.options {
			pointer-events: unset;
			transform: translateY(0);
			filter: opacity(1);
		}

		.options .option,
		.selected-option {
			color: white;
			background-color: var(--color-primary-dark);
		}

		.selected-option {
			border-radius: unset;
			border-top-left-radius: var(--radius-xs);
			border-top-right-radius: var(--radius-xs);

			i {
				transform: rotate(180deg);
			}
		}
	}

	select {
		display: none !important;
	}

	.selected-option,
	.options .option {
		display: flex;
		padding: 0.75rem 1.25rem;
		width: 100%;

		cursor: pointer;

		background-color: var(--color-gray-1);
		transition: filter var(--anim), background-color var(--anim), color var(--anim);

		&:hover {
			filter: var(--filter-dark-1);
		}

		&:active {
			filter: var(--filter-dark-2);
		}
	}

	.selected-option {
		z-index: 15;

		align-items: center;
		justify-content: space-between;

		border-radius: var(--radius-xs);
		transition: filter var(--anim), background-color var(--anim), color var(--anim), border-radius var(--anim);

		i {
			transition: transform var(--anim);
			transform: rotate(0);
		}
	}

	.options {
		margin: unset;
		padding: unset;
		list-style: none;

		position: absolute;
		z-index: 10;
		top: 100%;

		display: flex;
		flex-direction: column;
		width: 100%;
		overflow: hidden;

		border-bottom-left-radius: var(--radius-xs);
		border-bottom-right-radius: var(--radius-xs);

		pointer-events: none;
		filter: opacity(0);
		transform: translateY(-1rem);
		transition: filter var(--anim), transform var(--anim);

		.option {
			// to keep the selected item in the list visible, remove this
			&.selected {
				display: none;
			}
		}
	}
}
