.player-card {
	$player-card-gutter: 1rem;

	position: relative;
	width: 350px;
	box-shadow: 0 0 8px 0 black;
	border-radius: var(--radius-md);
	overflow: hidden;
	animation: FadeIn 300ms ease-in-out;

	//the selectbox
	&--selector {
		padding: $player-card-gutter;
		background-color: white;
	}

	//the card itself
	&--selected-player {
		$this: &;

		&--image {
			padding: $player-card-gutter $player-card-gutter 0;
			background-color: white;

			img {
				margin-bottom: -5px;
				$size: 250px;
				height: $size;
				max-height: $size;
				min-height: $size;
			}
		}

		&--details {
			position: relative;

			display: flex;
			flex-direction: column;
			gap: 1rem;

			background-color: var(--color-primary);
			padding: $player-card-gutter;

			#{$this}--info {
				display: flex;
				align-items: center;
				gap: $spacer;

				&--basic {
					flex: 1;

					display: flex;
					flex-direction: column;
					gap: $spacer * 0.5;

					margin-bottom: auto;

					#{$this}--name,
					#{$this}--position {
						margin: 0;
						color: white;
					}

					#{$this}--name {
						font-size: 1.35rem;
						font-weight: 500;
					}

					#{$this}--position {
						font-size: 1.1rem;
						font-weight: 300;
						margin: 0.25rem 0;
					}
				}

				&--team-icon {
					background-color: white;
					padding: 0.2rem;
					border-radius: var(--radius-md);
					overflow: hidden;

					i {
						$size: 5rem;
						display: flex;

						//very noice mixin to get team logo from team sprite
						@each $team in map.get($teams_sprite, names) {
							&[data-team="#{$team}"] {
								@include spriteItem($teams_sprite, $team, $size);
							}
						}
					}
				}
			}

			#{$this}--stats {
				margin: unset;
				list-style: none;
				padding: unset;

				display: flex;
				flex-direction: column;
				gap: 0.15rem;

				* {
					color: white;
				}

				.stat {
					display: flex;
					justify-content: space-between;
					align-items: center;

					background-color: var(--color-primary-dark);
					padding: 0.25rem 0.5rem;
					border-radius: var(--radius-xs);

					span {
						font-weight: bold;
						font-size: 1.1rem;
					}
				}
			}
		}
	}
}
