:root {
	--anim: 75ms ease-in-out;

	--color-gray-1: #e9e9e9;
	--color-gray-2: #d0d0d0;
	--color-gray-3: silver;

	--color-primary: #b13a43;
	--color-primary-light: #ae696e;
	--color-primary-dark: #843434;

	--filter-dark-1: brightness(0.9);
	--filter-dark-2: brightness(0.8);

	--radius-md: 1rem;
	--radius-sm: 0.5rem;
	--radius-xs: 0.25rem;
}
